:root {
    --primary-color: #68B2B6;
    --secondary-color: #32751A;
    --accent1-color: #4B4E58;
    --accent2-color: #E3B03B;
}
/* General layouts */
body{
    font-family: "Open Sans", sans-serif;
    background-color: #d8e9ee;
}

*{
    box-sizing: border-box;
}

/* Header section */
header{
    margin: 0.5rem;
    display: grid;
    grid-template-columns: 2fr 3fr 1fr;
    align-items: center;
    background-color: cadetblue;
    border: 1px solid black;
}

header img{
    width: 150px;
    height: auto;
    display: flex;
}

nav {
    display: flex;
    justify-content: space-around;
}

header nav a {
    text-decoration: none;
    gap: 40px;
    color: #0c2801;
}

nav a:hover {
    color: var(--accent2-color);
    text-decoration: wavy;
    font-weight: 800;
  }



/* Hero section */
.hero {
    position: relative;
}

.hero img {
    width: 100%;
    padding-left: 0.4%;
    height: auto;
    display: block;
    opacity: 80%;
}

.hero h1 {
    position: absolute;
    display: block;
    top: 9%;
    width: 100%;
    font-size: 60px;
    background-color:hsla(184, 89%, 41%, 0.3);
    margin-left: 0.3%;
    font-family:"Lato", sans-serif;
    color:#040506;
    text-align: center;
    font-weight: bold;
    padding: 15px;
}

.hero article img {
    float: right;
    margin: 10px;
    width: 300px;
    height: auto;
    border-radius: 10%;
}    

.hero article {
    background-color:#5b98b9;
    position: absolute;
    top: 60%;
    margin-left:20px;
    padding: 10px;
    padding-right: 100px;
    max-width: 1000px;
}

.hero article p {
    font-size: 1rem;
    color: #1b1d22;
}



h2{
    font-family:"Lato", sans-serif;
    color: #1b271f;
    font-weight: 600;
    font-size: 30px;
}

p{
    font-family: "Open Sans", sans-serif;
    color: var(--accent1-color);
    font-weight: 530;
    font-size: 20px;
    line-height: 1.9;
} 



.history {
    display: grid;
    grid-template-rows:  auto auto;
    grid-template-columns: 2fr 2.5fr 2fr;
    align-items: center;
    max-width: 1000px;
    margin: 3rem auto 3rem;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.history img {
    display: block;
    min-width: 100%;
    height: auto;
    grid-column: 2;
}

.history p:first-of-type{
  grid-column: 1/2;
  color: #040506;
  font-size: 15px;
} 

.history p:last-of-type{
    grid-column: 3/4;
    margin-left: 60px;
    color: #040506;
    font-size: 15px;
} 

.history h2{
    grid-column: 1/4;
    text-align: center;
    margin-bottom: 20px;
}



/* Adventure section */
.adventure{
    display: grid;
    grid-template: 5rem 1fr/ repeat(5, 1fr);
    align-items: center;
    margin-bottom: 20px;
}

.adventure h2{
    grid-column: 1/6;
    grid-row: 1/2;
    text-align: center;
    margin-left: 170px;
    font-size: 30px;
}

.adventure img{
    width: 100%;
    gap: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 10%;
}

.adventure figcaption{
    text-align: center;
    color:black;
    font-size: 13px;
    margin-left: 150px;
}
section{
    margin-bottom: 15px;
    width: 50%;
    gap: 50px;
     
}

section img{
    margin-left: 10%;
    width: 70%;
    height: auto;
}


/* Footer */
footer{
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    border: 1px solid black;
    background: var(--accent1-color);
}

footer p, footer .Wireframe-link{
    color:#b2c3f5;
}


/* CONTACT US*/
section.contact {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 20px; 
    padding: 50px;
    width: 100%;
    
}
.container1, .container2 {
    padding: 25px;
    border: 1px solid #ccc;
    background-color: #638dbd;
    color: #040506;
}
form {
    display: flex;
    flex-direction: column;
}
label, input, textarea, button {
    margin-bottom: 60px;
}
button{
    background-color: var(--accent1-color);
    color: #f8f1f1;
    width: 250px;
    height: auto;
    padding: 15px;
    margin-left: auto;
    font-size: 20px;
}
.container2 img  {
    width: 50px;
    vertical-align: middle;
    margin-right: 10px;
}
.container2 p{
    color: #040506;
    margin-bottom: 20px;
}
.map {
    margin-top: 20px;
}
.map iframe {
    width: 100%;
    height: 300px;
}

.gallery{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.gallery img{
    width: 300px;
    height: auto;
    gap: 25px;
    margin-left: 20px;
    justify-content: space-around;
    border-radius: 50%;
}

.gallery h2{
    text-align: center;
    margin: 20px;
}
.gallery figure{
    display: inline-block;
    text-align: center;
    margin: 0 10px;
}


/* HOMEPAGE */
.homepage{
    display: flex;
    flex-direction: column;
    width: auto;
}
.homepage h2{
    text-align: center;
    font-size: 35px;
    margin-top: 100px;
}

.homepage img{
    margin-left: 40px;
    justify-content: center;
    border:1px solid #808b96;
    /* border-radius: 50%; */
   
}
.homepage p{
    margin: 100px;    
}




/* TRIPS PAGE */
.trips {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: auto;
    row-gap: 200px;
    text-align: center;
}

.cta {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center-aligns items horizontally */
    text-align: center; /* Centers text content */
}

.cta h2 {
    margin-bottom: 15px; /* Adds space between the heading and the elements below */
}

.cta a{
    text-decoration: none;
    background-color:var(--accent1-color);
    margin-top: 15px;
    padding: 8px;
    color: #f8f1f1;
}
.cta .content {
    display: flex;
    gap: 300px; /* Adds space between p and a */
    align-items: center;
    justify-content: center;
}

.trips-table table{
    width: 120%;
    border-collapse: collapse; /* Removes double borders */
    margin: 60px;
}

.trips-table th, .trips-table td {
    border: 2px solid #1e201e; /* black border for rows and columns */
    padding: 40px;
    text-align: center;
}

.trips-table th {
    background-color: #7e141d;
    color: white;
} 

.trips-table td {
    background-color: #d2f2f7;
}
.trips-table h2 {
    text-align: center;  
}